{#
/**
 * @file
 * Default theme implementation for GitHubSearch repositories.
 *
 * Available variables:
 * - repositories: The repositories returned by the GitHub API.
 *
 * @ingroup themeable
 */
#}
<h2>Repositories</h2>
<table class="repositories">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Stars</th>
  </tr>
  {% if repositories %}
  {% for repo in repositories %}
  <tr>
    <td><a href="{{ repo.html_url }}">{{ repo.name }}</a></td>
    <td>{{ repo.description }}</td>
    <td>{{ repo.stargazers_count }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="3">No repositories found</td>
  </tr>
  {% endif %}
</table>
