{#
/**
 * @file
 * Default theme implementation for GitHubSearch repositories.
 *
 * Available variables:
 * - repositories: The repositories returned by the GitHub API.
 *
 * @ingroup themeable
 */
#}
<h2>Repositories</h2>
<ul class="repositories">
  {% for repo in repositories %}
  <li><a href="{{ repo.html_url }}">{{ repo.full_name }}</a></li>
  {% endfor %}
</ul>
